appnope==0.1.0
asn1crypto==0.22.0
attrs==17.2.0
Automat==0.6.0
cffi==1.10.0
click==6.7
constantly==15.1.0
cryptography==2.0.3
cssselect==1.0.1
decorator==4.1.2
elasticsearch==5.4.0
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
ipython==6.1.0
ipython-genutils==0.2.0
jedi==0.10.2
lxml==3.8.0
parsel==1.2.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pyasn1==0.3.2
pyasn1-modules==0.0.11
pycparser==2.18
PyDispatcher==2.0.5
Pygments==2.2.0
pyOpenSSL==17.2.0
queuelib==1.4.2
Scrapy==1.4.0
service-identity==17.0.0
simplegeneric==0.8.1
six==1.10.0
toolz==0.8.2
traitlets==4.3.2
Twisted==19.7.0
urllib3==1.24.2
w3lib==1.18.0
wcwidth==0.1.7
zope.interface==4.4.2
